html
  head
    title= title
  body
    a(href="https://dev-4m7httpww4jgg4ey.us.auth0.com/authorize?response_type=code&client_id=2SsXILY7DndSrpJkvqNFHSqrajGjUuNU&redirect_uri=http://localhost:8080/auth/callback&scope=openid%20profile&state=xyzABC123") Login
